<div id="app-home">
<h2>Welcome! <span class="fa fa-handshake-o"></span></h2>

<h3>Rational</h3>

<p>Use this template for building a demo to gather help, to show a 
    potential bug report or to set up a POC.</p>

<div>
    The template uses the latest available versions at the moment being:
    <ul>
        <li>angular: 4.3.5</li>
        <li>bootstrap: 4.0.0-beta</li>
        <li>zone.js: 0.8.16</li>
        <li>reflect-metadata: 0.1.10</li>
        <li>systemjs: 0.20.17</li>
        <li>typescript: 2.4.2</li>
        <li>rxjs: 5.4.3</li>
        <li>plugins-typescript: 7.1.0 <em>(typescript transpiler)</em></li>
        <li>in-memory-web-api: 0.3.2 
            <em>(used to intercept requests using the http module)</em></li>
    </ul>
</div>
<br/>
<h3>How to start</h3>
<ol>
    <li>Change the title in index.html</li>
    <li>Replace the favicon</li>
    <li>Update versions in package.json</li>
    <li>Install packages: <code>npm install</code></li>
    <li>Run: <code>npm start</code> or <code>firefox -P dev index.html</code> 
        <em>(or any available browser)</em></li>
    <li>Add your packages</li>
    <li>Write your code!</li>    
</ol>
</div>